
* {
    margin: 0;
    padding: 0;
    /*内减少*/
    box-sizing: border-box;
}

a {
    /*清除下划线*/
    text-decoration: none;
    /*默认颜色为黑色*/
    color: black;
}

li {
    /*清除小圆点*/
    list-style: none;
}

.clearfix::after {
    /*清除浮动*/
    content: '';
    display: block;
    clear: both;
}

img{
    /*尺寸由父级控制*/
    width: 100%;
    vertical-align: middle;
}