<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <link href="css/template.css">
    <link href="bootstrap-5.3.0-alpha1-dist/css/bootstrap.css">
    <style>
    </style>
</head>
<body>
<div id="app">
    <div style="background-color: lightgray;border-radius: 5px;border: 1px solid lightgray;height: 70px;overflow: hidden;">
        <div style="font-weight: 400;margin-left:20px;height: 30px;line-height: 30px;">添加品牌</div>
        <div style="height: 40px;padding:0;background-color: white;display: flex;align-items: center">
            <span style="background-color: #9aa9b9;display: inline-block;height: 24px;margin-left: 40px;">品牌名称</span>
            <input type="text" style="padding: 0; height: 20px;" v-model="name"/>
            <span style="background-color: lightblue;display: inline-block;height: 24px;margin-left: 10px;"
                  @click="add">添加品牌</span>
        </div>
    </div>

    <div class="card">ccc</div>
    <table class="table table-bordered table-striped mt-2">
        <thead>
        <tr>
            <th>#</th>
            <th>品牌名称</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="item in items" :key="item.id">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" :id="item.id" v-model="item.state"
                           @change="change">
                    <label class="form-check-label" :for="item.id">{{item.state?'已选中':'已禁用'}}</label>
                </div>
            </td>
            <td>{{item.createTime}}</td>
            <td><a href="#" @click.prevent="del(item.id)">删除</a></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            name: '',
            items: [
                {id: 1, name: "风雪", createTime: "1992-01-01 00:00:00", state: false},
                {id: 2, name: "阳光", createTime: "1990-01-01 00:00:00", state: true}
            ],
            nextId: 3
        },
        methods: {
            change() {
                console.log(JSON.stringify(this.items));
            },
            add() {
                if (!this.name || this.name.trim().length === 0) {
                    return alert('名称不能为空');
                }
                this.items.push({id: this.nextId, name: this.name, createTime: "1992-01-01 00:00:00", state: false})
                this.nextId++;
            },
            del(id) {
                this.items = this.items.filter(x => x.id !== id);
            }
        },
        filters: {
            capitalize(str) {
                return str.charAt(0).toUpperCase() + str.slice(1);
            }
        }
    })
    Vue.filter('maxLength', (str) => {
        if (str.length <= 10) {
            return str;
        } else {
            return str.slice(0, 10) + '...';
        }
    })
    // 增加参数，参数默认值10
    Vue.filter('maxLength2', (str, len = 10) => {
        if (str.length <= len) {
            return str;
        } else {
            return str.slice(0, len) + '...';
        }
    })
</script>
</body>
</html>