#view {
    -fx-background-image: url("/img/loginBack.jpg");
    -fx-background-size: cover;
}
.content {
    -fx-pref-width: 370;
    -fx-pref-height: 690;
    -fx-background-color: transparent, white, transparent, white;
    /*-fx-background-color: #92caff;*/

}


.button-container {
    -fx-pref-width: 370;
    -fx-pref-height: 50;
    -fx-spacing: 10px;
    -fx-padding: 0px 10px 0px 10px;
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.bottom-button {
    -fx-pref-width: 110;
    -fx-pref-height: 50;
    -fx-background-color: transparent, white, transparent, white;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 20px;
    /*-fx-background-color: #39ffcf;*/
}