#view {
    -fx-background-image: url("/img/loginBack.jpg");
    -fx-background-size: cover;
}

.hbox {
    -fx-background-image: url("/img/loginBack.jpg");
    -fx-background-size: cover;
}

.input {
    -fx-border-radius: none;
    -fx-background-color: none;
    -fx-text-fill: white;
}

.bottom_label {
    -fx-text-fill: white;
    -fx-text-alignment: CENTER;
}

