.container {
    height: 50px;
    width: 250px;
    padding: 2% 1% 2% 5%;
    border: none;
    margin:  0 0 0 0 ;
}

.container:hover {
    background-color: rgba(160, 221, 238, 0.5);
}


.icon {
    height: 96%;
    width: 18%;
    float: left;
    margin-right: 5%;
}

.icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*.icon-left {*/
    /*height: 96%;*/
    /*width: 18%;*/
    /*float: left;*/
/*}*/

/*.icon-right {*/
    /*height: 96%;*/
    /*width: 18%;*/
    /*float: right;*/
/*}*/

/*.icon-left img {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*object-fit: cover;*/
/*}*/

/*.icon-right img {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*object-fit: cover;*/
/*}*/

.right-box {
    width: 71%;
    height: 96%;
    float: left;
}

.right-top-box {
    width: 100%;
    height: 50%;
    float: none;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    width: 80%;
    height: 100%;
}

.time {
    display: inline-block;
    float: left;
    width: 20%;
    height: 100%;
}

.content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: none;
    width: 100%;
    height: 50%;
}

